extends layout

block content
  section(class='hero is-warning')
    div(class='hero-body')
      div(class='container')
        h1(class='title') Full Cycle Rocks!

  section(class='container mt-5 pl-2 pr-2 has-text-light' x-data='people()' x-init="fetchPeople()" x-on:people-updated.window="fetchPeople()")
    h1(class='title has-text-light has-text-centered is-size-1 mb-0') デスノート
    p(class='has-text-grey has-text-centered mb-5')
      i (Death Note)
    form(method='POST' @submit.prevent='storePerson()')
      div(class='field has-addons')
        div(class='control is-expanded')
          input(type='text' x-model='formData.name' class='input is-large' placeholder='Name your next victim ...')
        div(class='control')
          button(type='submit' class='button is-danger is-large') Send

    div(class='mt-5')
      h2(class='title has-text-grey has-text-centered is-size-3')
        i Kira's list
      template(x-if='people')
        ul(class='block-list is-large is-warning is-centered has-radius')
          template(x-for='person in people')
            li(x-text='person.name' style="text-decoration: line-through;")

  section(class='container p-2 mb-5')
    div(class='box')
      div(class='content')
        p Esta aplicação é uma versão eletronica do famoso caderno preto do shinigami Ryuk (do anime "Death Note").
        p Trata-se de uma peça de ficção e de forma nenhuma reflete a realidade.

  script.
    function people() {
      return {
        formData: {
          name: ''
        },
        people: [],
        fetchPeople() {
          fetch('/people')
            .then(res => res.json())
            .then(data => {
              this.people = data.data
            })
        },
        storePerson() {
          fetch('/people', {
            method: 'POST',
            headers: { 'Content-type': 'application/json' },
            body: JSON.stringify(this.formData)
          })
          .then(() => {
            // Fire the event: 'people-updated'
            window.dispatchEvent(new CustomEvent('people-updated'))
            this.formData.name = ''
          })
          .catch(() => {
            console.log('Erro!')
          })
        }
      }
    }